
# Object/other compiled files #
##############################
*.class
*.o

# Model files #
###############
*.torch


# Compressed repositories #
###########################
*.zip
*.tar

# OS files #
############
*.DS_Store

