
# Object/other compiled files #
##############################
*.class
*.o

# Model files #
###############
*.torch


# Python things (notebook checkpoints, cache) #
*__pycache__*
*ipynb_checkpoints*

# Compressed repositories #
###########################
*.zip
*.tar

# OS files #
############
*.DS_Store

